#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    background-color: var(--color-background);
    z-index: 20;
    nav {
        border-bottom: 1px solid var(--ity-grey);
        height: var(--ity-nav-height);
        display: flex;
        align-items: center;
        .logo {
            background-image: var(--logo-url);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 200px;
            height: 60%;
            margin: auto;
        }
    }
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    z-index: 20;
    background-color: var(--color-background);
    margin-top: auto !important;
    border-top: 1px solid var(--ity-grey);
    height: var(--ity-nav-height);
    line-height: var(--ity-nav-height);
    text-align: center;
    flex-shrink: 0;
    font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace;

}
